.gcloudignore
.git
.gitignore
README.*
.gitignore
.editorconfig
app.yaml
node_modules
grunt.js
src
e2e
karma.config.js
package.json
protractor.conf.js
tslint.json
*DS_Store*
*.swp
angular.json
browserslist
dispatch.yaml
frontend_app.yaml
karma.conf.js
package-lock.json
tsconfig.app.json
tsconfig.json
tsconfig.spec.json

