.DS_Store
.git
*.pyc
*.pyo
*.swp
frontend/node_modules
frontend/.DS_Store
frontend/.editorconfig
backends/lib
backends/lib_dev
backends/htmlcov/
backends/.DS_Store
backends/.coveragerc
backends/.editorconfig
backends/.flake8
backends/.pylintrc
backends/*.pyc
backends/*.pyo
