.DS_Store
.git
*.pyc
*.pyo
*.swp
__pycache__
.git/
.venv/
backends/lib
backends/lib_dev
backends/htmlcov/
backends/.DS_Store
backends/.coveragerc
backends/.editorconfig
backends/.flake8
backends/.pylintrc
backends/*.pyc
backends/*.pyo
cli/build
cli/crmint.egg-info
cli/dist
cli/Dockerfile
frontend/node_modules
frontend/.DS_Store
frontend/.editorconfig
terraform/.terraform
