.venv
*.swp
__pycache__
*.pyc
crmint.egg-info/
.idea

# System Files
.DS_Store
Thumbs.db

# Terraform
*.tfstate
*.tfstate.d
*.tfstate.backup
*.tfstate.lock.info
terraform/*.tfvars
terraform/*.tfvars.json
.terraform/
