lib
config/dev.py
data/*
!data/*.example
!data/app.json
*.swp
.idea
.gcloudignore
controller_app_with_db_uri.yaml
requirements.txt

# Unit test & coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/
.venv
