-r common/requirements.in
google-ads
google-analytics-admin
google-api-python-client
google-cloud-aiplatform
google-cloud-bigquery
google-cloud-storage

# Pin a loose requirement from "google-api-core"
google-api-core[grpc]
googleapis-common-protos[grpc]