-r common/requirements.txt
simpleeval==0.9.10
Flask-SQLAlchemy==2.4.4
sqlalchemy_mixins==1.2.1
Flask-RESTful==0.3.8
oauthlib==3.1.0
Flask-Cors==3.0.9
Flask-Migrate==2.5.3
mysql-connector-python==8.0.21
google-cloud-bigquery==1.27.2
croniter
