<footer>
    <div class="container">
        <div class="left-links">
            <img class="footer-logo" src="{{ site.baseurl }}/img/crmint-logo-small.png" alt="CRMint">
            <p class="description"><a href="https://policies.google.com/privacy">Privacy Policy</a></p>
        </div>
        <div class="right-links">
            <div class="col-md-4 col-sm-4 col-xs-12 footer-documentation">
                <ul class="toggle">
                    <p class="right-link-headers">Documentation</p>
                    <li><a href="{{ site.baseurl }}/docs/"><p>Overview</p></a></li>
                    <li><a href="{{ site.baseurl }}/docs/quickstart"><p>Quick Start</p></a></li>
                    <li><a href="{{ site.baseurl }}/docs/guides"><p>Guides</p></a></li>
                    <li><a href="{{ site.baseurl }}/docs/solutions"><p>Solutions</p></a></li>
                    <li><a href="{{ site.baseurl }}/docs/reference"><p>Reference</p></a></li>
                </ul>
            </div>
            <hr class="footer-sections" />
            <div class="col-md-3 col-sm-3 col-xs-12 footer-resources">
                <ul class="toggle">
                    <p class="right-link-headers">Resources</p>
                    <li><a href="{{ site.baseurl }}/about"><p>About</p></a></li>
                    <li><a href="{{ site.baseurl }}/faq"><p>FAQ</p></a></li>
                </ul>
            </div>
            <hr class="footer-sections" />
            <div class="col-md-5 col-sm-5 col-xs-12 footer-community">
                <ul class="toggle">
                    <p class="right-link-headers">Community</p>
                    <li><a href="https://github.com/google/crmint" target="_blank"><p class="github community-links">Github</p></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
