<div class="hero">
  <div class="container">
    <div class="logo-container">
    <img class="logo" src="{{ site.baseurl }}/img/crmint-logo-noborder.png" alt="CRMint"><span class='logo-text'>CRMint</span>
    </div>
    <h1 class="hero-lead">Enable data flow between CRM, Google Cloud, Google Analytics, AdWords, and DoubleClick</h1>
    <a href="{{ site.baseurl }}/docs">
    	<button class="btn btn-crmint waves-effect btn-hero">GET STARTED</button>
    </a>
   	<!-- <button class="btn btn-floating waves-effect down-caret" data-target="landing-content"><div class="icon-caret"></div></button> -->
  </div>
</div>
