<mat-card>
  <mat-card-title>{{ title }}</mat-card-title>
  <div class="crmi-card-title-separator"></div>

  <div [ngSwitch]="state">
    <!-- LOADING -->
    <ng-template ngSwitchCase="loading">
      <div class="crmi-loading-block">
        <mat-progress-spinner
          strokeWidth="10"
          style="width:100px;height:100px;"
          mode="indeterminate">
        </mat-progress-spinner>
        Loading...
      </div>
    </ng-template>
    <!-- LOADED -->
    <ng-template ngSwitchCase="loaded">
      <form [formGroup]="mlModelForm" class="crmi-form" novalidate (ngSubmit)="save()" autocomplete="off">
        <div class="crmi-form-group">
          <label class="crmi-form-label">Name</label>
          <mat-form-field>
            <input matInput placeholder="Name" formControlName="name">
          </mat-form-field>
        </div>

        <div id="input" formGroupName="input" class="crmi-form-group">
          <label class="crmi-form-label">
            Input Configuration
            <mat-icon class="tooltip-icon"
                      matTooltip="BigQuery data sources for the model."
                      matTooltipPosition="above"
                      matTooltipClass="crmi-tooltip">
              help
            </mat-icon>
          </label>
          <div class="vertical-group">
            <mat-select placeholder="Source" formControlName="source"
                        (selectionChange)="refreshInput(); resetVariables()">
              <mat-option *ngFor="let source of sources" [value]="source">{{ source | labelcase }}</mat-option>
            </mat-select>
            <div formGroupName="parameters" *ngIf="input.requirements.length > 0" class="input-group">
              <mat-form-field *ngFor="let requirement of input.requirements">
                <input matInput [placeholder]="requirement | labelcase" [formControlName]="requirement">
              </mat-form-field>
            </div>
          </div>
        </div>

        <div class="crmi-form-group" formGroupName="bigQueryDataset">
          <label class="crmi-form-label">
            Dataset
            <mat-icon class="tooltip-icon"
                      matTooltip="BigQuery dataset where model, predictions, and output will be stored."
                      matTooltipPosition="above"
                      matTooltipClass="crmi-tooltip">
              help
            </mat-icon>
          </label>
          <mat-form-field>
            <input matInput placeholder="Name"
                   formControlName="name" (change)="resetVariables()">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Location"
                   formControlName="location" (change)="resetVariables()">
          </mat-form-field>
        </div>

        <div formArrayName="timespans" class="crmi-form-group">
          <label class="crmi-form-label">
            Timespan
            <mat-icon class="tooltip-icon"
                      matTooltip="The amount of data in days to use for training (3 year max) and predictive (1 year max) steps."
                      matTooltipPosition="above"
                      matTooltipClass="crmi-tooltip">
              help
            </mat-icon>
          </label>
          <div id="timespans">
            <span *ngFor="let timespan of timespans.controls; index as i" [formGroupName]="i">
              <mat-form-field *ngIf="value(timespan, 'range'); let range">
                <input matInput placeholder="{{ value(timespan, 'name') | labelcase }}" type="number"
                       formControlName="value" [min]="range.min" [max]="range.max" [step]="range.step"
                       (change)="resetVariables()">
                <span>{{ value(timespan, 'unit') | labelcase }}s</span>
              </mat-form-field>
            </span>
          </div>
        </div>

        <div class="crmi-form-group">
          <label class="crmi-form-label">User Identifier</label>
          <mat-select placeholder="Unique ID" formControlName="uniqueId" (selectionChange)="refreshVariables()">
            <mat-option *ngFor="let uniqueId of uniqueIds" [value]="uniqueId">{{ uniqueId | labelcase }}</mat-option>
          </mat-select>
        </div>

        <div class="crmi-form-group">
          <label class="crmi-form-label">Type</label>
          <mat-select placeholder="Type" formControlName="type"
                      (selectionChange)="refreshHyperParameters(); refreshVariables()">
            <mat-option *ngFor="let type of types" [value]="type">{{ type | labelcase }}</mat-option>
          </mat-select>
        </div>

        <div formArrayName="hyperParameters" class="crmi-form-group">
          <label class="crmi-form-label">Hyper-Parameters</label>
          <div id="hyper-parameters" class="vertical-group">
            <div *ngFor="let param of hyperParameters.controls; index as i" [formGroupName]="i">
              <mat-checkbox formControlName="toggled"></mat-checkbox>
              <span *ngIf="value(param, 'options'); let options" class="select-group">
                <span class="label">{{ value(param, 'name') }}</span>
                <mat-select formControlName="value" [placeholder]="value(param, 'name')">
                  <mat-option *ngFor="let option of options" [value]="option">
                    {{ option.toString().toUpperCase() }}
                  </mat-option>
                </mat-select>
              </span>
              <span *ngIf="value(param, 'range'); let range" class="slider-group">
                <span class="label">{{ value(param, 'name') }}</span>
                <mat-slider formControlName="value" [min]="range.min" [max]="range.max"
                            [step]="range.step" [thumbLabel]="value(param, 'value')">
                </mat-slider>
                <span>{{ value(param, 'value') }}</span>
              </span>
              <mat-form-field *ngIf="!value(param, 'options') && !value(param, 'range')">
                <input matInput [placeholder]="value(param, 'name')" formControlName="value">
              </mat-form-field>
            </div>
            <div *ngIf="hyperParameters.controls.length === 0" class="notice">
              Must first select a <strong>Type</strong> to see available Hyper-Parameters.
            </div>
          </div>
        </div>

        <div *ngIf="variables.length" formArrayName="variables" id="variables" class="crmi-form-group">
          <label class="crmi-form-label">Variables</label>
          <table>
            <tbody>
              <tr *ngFor="let variable of variables.controls; index as i" [formGroupName]="i">
                <td class="source">{{ value(variable, 'source') | labelcase }}</td>
                <td>{{ value(variable, 'name') }}</td>
                <td class="count" [hidden]="!value(variable, 'count')">
                  <mat-icon>bar_chart</mat-icon> {{ value(variable, 'count') }}
                </td>
                <td *ngIf="value(variable, 'roles'); let roles" class="role">
                  <mat-select placeholder="Include As" formControlName="role" (selectionChange)="refreshVariables()">
                    <mat-option [value]="null">----</mat-option>
                    <mat-option *ngFor="let role of roles" [value]="role">{{ role | labelcase }}</mat-option>
                  </mat-select>
                </td>
                <td *ngIf="value(variable, 'parameters'); let parameters" class="key">
                  <mat-select placeholder="Key" formControlName="key" (selectionChange)="refreshVariables()">
                    <mat-option *ngFor="let parameter of parameters" [value]="parameter.key">{{ parameter.key }}</mat-option>
                  </mat-select>
                </td>
                <td class='hint' *ngIf="error(variable)">
                  <mat-icon class="tooltip-icon"
                            [matTooltip]="error(variable) | labelcase"
                            matTooltipPosition="after"
                            matTooltipClass="crmi-tooltip">
                    warning
                  </mat-icon>
                </td>
                <td class='hint' *ngIf="!error(variable) && value(variable, 'hint')">
                  <mat-icon class="tooltip-icon"
                            [matTooltip]="value(variable, 'hint')"
                            matTooltipPosition="after"
                            matTooltipClass="crmi-tooltip">
                    help
                  </mat-icon>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div *ngIf="variables.length === 0" class="crmi-form-group">
          <label class="crmi-form-label">Variables</label>
          <div *ngIf="variableRequirementsProvided" class="notice green">
            <span>
              Use above <strong>Input Configuration</strong>, <strong>BigQuery Dataset</strong>, and<br>
              <strong>Timespan</strong> to fetch available variables.
              <br>
              <small>(<strong>Note:</strong> Re-fetch required when any of these change.)</small>
            </span>
            <button mat-raised-button
                    (click)="fetchVariables()"
                    type="button"
                    [disabled]="fetchingVariables"
                    color="alternate">
              Fetch
            </button>
          </div>
          <div *ngIf="!variableRequirementsProvided" class="notice">
            Must first enter <strong>Input Configuration</strong>, <strong>BigQuery Dataset</strong>, and<br>
            <strong>Timespan</strong> values to see available variables.
          </div>
        </div>

        <div *ngIf="type.isClassification" class="crmi-form-group">
          <label class="crmi-form-label">
            Number of Segments
            <mat-icon class="tooltip-icon" title="Used when calculating conversion rates.">help</mat-icon>
          </label>
          <mat-slider formControlName="conversionRateSegments" [min]="2" [max]="10" [step]="1" [thumbLabel]="true"></mat-slider>
          <span>{{ value('conversionRateSegments') }}</span>
        </div>

        <div class="crmi-form-group">
          <label class="crmi-form-label">Class Imbalance Ratio</label>
          <mat-slider formControlName="classImbalance" [min]="1" [max]="100" [step]="1" [thumbLabel]="true"></mat-slider>
          <span>1:{{ value('classImbalance') }}</span>
        </div>

        <div id="output" formGroupName="output" class="crmi-form-group">
          <label class="crmi-form-label">Output Configuration</label>
          <div class="vertical-group">
            <mat-select placeholder="Destination" formControlName="destination"
                        (selectionChange)="refreshOutput(); refreshVariables()">
              <mat-option *ngFor="let destination of destinations" [value]="destination">{{ destination | labelcase }}</mat-option>
            </mat-select>
            <div formGroupName="parameters" *ngIf="output.requirements.length > 0" class="input-group">
              <mat-form-field *ngFor="let requirement of output.requirements">
                <input matInput [placeholder]="requirement | labelcase" [formControlName]="requirement">
              </mat-form-field>
            </div>
          </div>
        </div>

        <div class="crmi-form-offset">
          <div class="crmi-form-message crmi-form-message-error">{{ errorMessage }}</div>
          <button mat-raised-button
                  type="submit"
                  [disabled]="!mlModelForm.valid"
                  color="primary">
            {{ mlModel.id ? 'Save' : 'Create' }}
          </button>
          <button mat-raised-button
                  (click)="cancel()"
                  type="button">
            Cancel
          </button>
        </div>
      </form>
    </ng-template>
    <ng-template ngSwitchCase="error">
      <div class="crmi-form-message crmi-form-message-error">{{ errorMessage }}</div>
    </ng-template>
  </div>
</mat-card>
