#
# Copyright 2018 Google Inc
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# Variables for stage

# Specify service account json file
# Example: "<customer>.json"
service_account_file=

# Specify Project ID in Google Cloud
# Example: "crmintapp-<customer>"
project_id_gae=""

# Specify Project Name in Google Cloud
# Example: "CRMintApp <customer Name>"
project_name=

# Specify Project Organization ID in Google Cloud or leave the variable blank
# Example: "12345"
project_org_id=

# Specify Region. Use `gcloud app regions list` to list available regions.
# Example: "europe-west2"
project_region=""

# Specify Machine Type. Use `gcloud sql tiers list` to list available machine types.
# Example: "db-g1-small"
project_sql_tier=

# Specify directory on your space to deploy
# Example: "/tmp/$project_id_gae"
workdir="/usr/local/google/home/ldiana/playground/" % project_id_gae

# Specify database name
# Example: "crmintapp_<customer>""
db_name=

# Specify username for access to specified database
db_username=

# Specify password for access to specified user
db_password=

# Specify database instance name
# Example: "crmintapp-<customer>-db"
db_instance_name=""

# Specify database instance connection name
db_instance_conn_name="%s:%s:%s" % (project_id_gae, project_region, db_instance_name)

# Specify sender email for notifications
# Example: "noreply@crmintapp-<customer>.appspotmail.com"
notification_sender_email=

# Specify title name for application
# Examples: "Demo", "UAT", "<customer name>"
app_title="Demo"

# Enable flag for looking of pipelines on other stages
# Options: True, False
enabled_stages=False
