<div
    class="crmi-pipeline-graph"
    style="height: {{getGraphHeight()}}px;">
    <mat-menu #jobMenu>
        <button mat-menu-item (click)="onJobEdit()">
            <mat-icon>edit</mat-icon>
            <span>Edit</span>
        </button>
        <button mat-menu-item (click)="onJobRemove()">
            <mat-icon>delete</mat-icon>
            <span>Remove</span>
        </button>
        <button mat-menu-item (click)="onJobStart()">
            <mat-icon>play_arrow</mat-icon>
            <span>Start</span>
        </button>
    </mat-menu>
    <div
        *ngFor="let line of pgraph.lines"
        class="graph-line"
        style="{{generateLineStyle(line)}}">
    </div>
    <ng-container *ngFor="let row of pgraph.collection">
        <div
            *ngFor="let box of row"
            class="job-box"
            style="left: {{box.x_offset}}px; top: {{box.y_offset}}px;"
            routerLink="/jobs/{{box.id}}/edit"
            >
            <mat-icon
                class="job-status-icon"
                style="color: {{getJobIconForStatus(box.job.status).color}};">
                {{getJobIconForStatus(box.job.status).icon}}
            </mat-icon>
            <span class="job-name" title="{{box.job.name}}">{{box.job.name}}</span>
            <button
                mat-icon-button
                class="job-menu"
                [matMenuTriggerFor]="jobMenu"
                (click)="showJobMenu($event, box.job)"
                >
                <mat-icon>more_vert</mat-icon>
            </button>
        </div>
    </ng-container>
</div>
