name: testing-backend
on:
  workflow_dispatch:

  push:
    paths-ignore:
      - 'README.md'
  pull_request:
    branches:
      - 'master'
jobs:
  run-controller-tests:
    runs-on: ubuntu-18.04
    steps:
      # Checkout repository code
      - uses: actions/checkout@v2
      # Configure python
      - uses: actions/setup-python@v2
        with:
          python-version: '3.9'
      - name: Install dependencies
        working-directory: backend
        run: |
          pip install -r requirements-controller.txt
          pip install -r tests/requirements.txt
      - name: Run the tests
        working-directory: backend
        run: |
          pytest tests/common tests/controller \
              --cov=common \
              --cov=controller \
              --cov=controller_app.py \
              --cov-report=xml
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v3
        with:
          working-directory: backend
          fail_ci_if_error: false
          flags: backend
  run-jobs-tests:
    runs-on: ubuntu-18.04
    steps:
      # Checkout repository code
      - uses: actions/checkout@v2
      # Configure python
      - uses: actions/setup-python@v2
        with:
          python-version: '3.9'
      - name: Install dependencies
        working-directory: backend
        run: |
          pip install -r requirements-jobs.txt
          pip install -r tests/requirements.txt
      # Run the tests
      - name: Run the tests
        working-directory: backend
        run: |
          pytest tests/common tests/jobs \
              --cov=common \
              --cov=jobs \
              --cov=jobs_app.py \
              --cov-report=xml
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v3
        with:
          working-directory: backend
          fail_ci_if_error: false
          flags: backend

